#page-top{
  margin-bottom: 2em;
}
body{
  background-color: #ffffff; 
}
.testsClass{
  margin-top: 80px; 
  border: 2px solid hsl(240, 1%, 16%); 
  height: 80vh; 
  width: 100vw; 
  background-color: #3598dc;
}

/* container */ 
.mycontainer{
  border-radius: 50px;
  background-color: white;
  margin-top:30px;
  margin-bottom: 25px; 
  position:relative;
  left: 10% ;
  width: 80%; 
  height: 80%; 
  border: 2px solid darkgrey;
  box-shadow: 5px 10px 18px #888888;
  padding: 15px;
  /*  used by signin */
  display: flex;
  align-items: center;
  justify-content: center;
}


/*Sign In*/
.signinform{
  margin-top: 14rem;
  display:grid;
  grid-template-columns: 55% 45%;
  background-color: rgb(255, 255, 255);
  height: 80vh;
}
.halfImage img{
  height: 100%; 
  width: 100%;
}
.form {
  min-width: 400px;
  min-height: 450px;
  background-color: #fffdfd;
  box-shadow: 0px 0px 10px #cccccc;
  padding:110px;
  display: flex;
  flex-direction: column;
}
.boxShadow{
  background: #f5f2f2;
    box-shadow: none !important;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.parag{
  text-align: center;
  font-size: 15px;
}
.form h1{
  text-align: center;
  font-size:37px;
  color:#29a5a3;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
.signin-submit{
    background-color:#1fcecb ;
}
.new{
  text-align: center;
}

/* user type signin */ 
.userType{
  margin-top: 18rem;
  height: 80vh; 
  width: 100%;
}
.whologin{
  border-radius: 35px;
  border: 2px solid rgb(204, 204, 204);
  height: 100%;  
  width: 100%;
  display: grid; 
  grid-template-columns: 30% 5% 30% 5% 30%;
}
.v1 {
  position: relative;
  top: 10%;
  border-left: 6px solid #6bd4cd;
  height: 80%;
}
.type{
padding-top:50px;
 display: flex; 
 justify-content: center; 
 align-items: center;
 flex-direction: column;
 transition: transform 600ms;
}
 .type:hover{
  transform: scale(1.1);
 }

.icon{
  width: 80%; 
  height: 80%;
}

/* Category design */ 
.category{
  background-color: white;
 
  margin: 0 auto;
  padding: 5rem 4.375rem 2.5rem;
}
.card-container{
  max-width: 90%;
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  grid-gap: 1.625rem;
  margin-top: 40px;
  margin-bottom: 10px;
}
.card-container{
  display: grid;
  margin: 0 auto;
}
.card{
  box-shadow: 0 0 15px rgba(26, 25, 25, 0.328);
  border-radius: 15px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  height: 17.22rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: transform 600ms;
}
.card:hover{
  transform: scale(1.1);
}
.card-name{
  font-size: 1rem;
  height: auto;
  padding: 0.16rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%
}
.card-image{
  background-image: url("../src/image/gago.png");
  background-position: 65%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
}

.bodyform {
  color: #fff;
  background: #3598dc;
  font-family: 'Roboto', sans-serif;
}
  .form-control{
  height: 41px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: none;
}
.form-control:focus{
  background: #e2e2e2;
}
  .form-control, .btn{        
      border-radius: 3px;
  }
.signup-form{
  padding-top:15rem;
  padding-bottom:10rem;
  width: 700px;
  margin: 30px auto;
  margin-bottom:0;
}
.signup-form form{
  color: #999;
  border-radius: 3px;
    margin-bottom: 15px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
.signup-form h2 {
  color: #333;
  font-weight: bold;
      margin-top: 0;
  }
  .signup-form hr {
      margin: 0 -30px 20px;
  }    
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}
  .signup-form .btn{        
      font-size: 16px;
      font-weight: bold;
  background: #3598dc;
  border: none;
  min-width: 140px;
  }
.signup-form .btn:hover, .signup-form .btn:focus{
  background: #2389cd !important;
      outline: none;
}
  .signup-form a{
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #3598dc;
  text-decoration: none;
}	
.signup-form form a:hover{
  text-decoration: underline;
}
  .signup-form .hint-text {
  padding-bottom: 15px;
  text-align: center;
  }
  .rowh{
    display: flex; 
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .checkout-steps > div.active {
    border-top-color:#3598dc ;
    color: #3598dc;
  }
  .checkout-steps > div {
    margin-top:5px;
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
  }
  .hint-text a{
    color: blue;
  }

  .heads{
    margin-bottom:1em;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .option-header{
    display:flex;
    justify-content: space-between;
  }
  .option-header input{
    margin-right:7.5em;
  }
  .option{
    margin-right:7em;
  }






.table-wrapper {
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(223, 0, 0, 0.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #68b2ee;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}


.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}    
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {    
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #1d1d1c;
    background: #282829;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}	

.tableform{
  margin-top:20rem;
  margin-bottom:10rem;
  display:flex;
  justify-content:center;
  align-items: center;
}

.tab {
  overflow: hidden;
  display:flex; 
  justify-content:space-around;
  background-color: white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-right: 5px;
}
.tabmain{
  display:flex; 
  justify-content: space-around;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.doctorArea{
  display:flex;
  justify-content: center;
}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin:2rem;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}
.text-container h5 {
  margin: 5px 0px 10px 0px;
  color: black;
  font-size: 14px;
}
.text-container h6 {
  margin: 5px 0px 10px 0px;
  color: black;
  font-size: 12px;
}

.cancelButton{
  margin-right:10px;
}